<p id="notice"><%= notice %></p>

<p>
  <b>Category name:</b>
  <%= @menu_category.category_name %>
</p>

<%= link_to 'Edit', edit_school_restaurant_menu_menu_category_path(@school, @restaurant, @menu, @menu_category) %> |
<%= link_to 'Back', school_restaurant_menu_index_path(@school,@restaurant) %>