<div class="row">
  <div class="col-md-12">
    <div class="row password-changer">
      <div class="col-md-3"><h3>Your Information</h3></div>
      <div class="col-md-3"><button class="green">Change My Password</button></div>
      <div class="col-md-6"></div>
    </div>
    <div class="row password-changer">
      <div class="col-md-12">
        <div class="row account-form">
           <%= render :partial => "account_information_form" %>
        </div>
      </div>
        
      <div class="row password-changer">
        <div class="col-md-3"><h3>Address Book</h3></div>
        <div class="col-md-3"><button class="green">Change My Password</button></div>
        <div class="col-md-6"></div>
      </div>
      <div class="row">
        <div class="col-md-6 room-container">
          <div class="edit-container">
            <div class="row room-head">
              <div class="col-md-6"><label>My Dorm Room</label></div>
              <div class="col-md-3"><button class="green-ful">Edit</button></div>
              <div class="col-md-3"><button class="red-ful">Delete</button></div>
            </div>
            <div class="row">
              <div class="col-md-12 account-info-field">
                <div class="info-values">
                  <label class="value-left">Saved Address Name:</label><label class="value">My Dorm Room</label>
                  <label class="value-left">Address Type:</label><label class="value">On Campus</label> 
                  <label class="value-left">Campus Name:</label><label class="value">Harvard University</label> 
                  <label class="value-left">Building Name:</label><label class="value">Academic Hall </label>   
                  <label class="value-left">Room Number:</label><label class="value">203</label> 
                  <label class="value-left">Address:</label><label class="value">123 East 18th Street</label> 
                  <label class="value-left">City/State/Zip:</label><label class="value">Brooklyn, NY 11229</label> 
                  <label class="value-left">Phone:</label><label class="value">718-246-9823</label> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 office-container">
          <div class="edit-container">
            <div class="row room-head">
              <div class="col-md-6"><label>My Office</label></div>
              <div class="col-md-3"><button class="green-ful">Edit</button></div>
              <div class="col-md-3"><button class="red-ful">Delete</button></div>
            </div>
            <div class="row">
              <div class="col-md-12 account-info-field">
                <div class="info-values">
                  <label class="value-left">Saved Address Name:</label><label class="value">My Dorm Room</label>
                  <label class="value-left">Address Type:</label><label class="value">On Campus</label> 
                  <label class="value-left">Campus Name:</label><label class="value">Harvard University</label> 
                  <label class="value-left">Building Name:</label><label class="value">Academic Hall </label>   
                  <label class="value-left">Room Number:</label><label class="value">203</label> 
                  <label class="value-left">Address:</label><label class="value">123 East 18th Street</label> 
                  <label class="value-left">City/State/Zip:</label><label class="value">Brooklyn, NY 11229</label> 
                  <label class="value-left">Phone:</label><label class="value">718-246-9823</label> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row password-changer">
        <div class="col-md-3"><h3>Payment Information</h3></div>
        <div class="col-md-3"><button class="green">Add A New Card</button></div>
        <div class="col-md-6"></div>
      </div>
      <div class="row">
        <div class="col-md-6 room-container">
          <div class="edit-container">
            <div class="row">
              <div class="col-md-9">
                <label>Credit Card</label>
                <p>Visa ending in 4154</p>
              </div>
              <div class="col-md-3"><button class="red-ful margin-top-btn">Delete</button></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 office-container">
          <div class="edit-container">
            <div class="row">
              <div class="col-md-9">
                <label>Credit Card</label>
                <p>Visa ending in 4154</p>
              </div>
              <div class="col-md-3"><button class="red-ful margin-top-btn">Delete</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
