<div class="modal fade" id="change_password_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header error-title">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Change My Password</h4>
      </div>
      <%= form_for("user" , :url => change_user_password_dashboard_index_path, :html => {:class => "change_user_password_form"}) do |f| %>
        <div class="modal-body modal-body-container">
          <div class="row">
            <div class="col-md-12 adress-container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 camp-left">
                  <label>Your Curent Password*</label>
                  <%= f.password_field :current_password, :placeholder =>"Your Curent Password", :class => "requried" %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-md-offset-2 camp-left">
                  <label>New Password*</label>
                  <%= f.password_field :password, :autocomplete => "off", :class => "requried"  %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-md-offset-2 camp-left">
                  <label>Retype New Password*</label>
                  <%= f.password_field :password_confirmation, :class => "requried" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary update-btn submit-md">Save</button>
        </div>
      <% end %>  
    </div>
  </div>
</div>