<div class="row">
  <div class="col-md-12">
    <div class="row password-changer">
      <div class="col-md-4 heading-favorite"><label>Restaurant</label></div>
      <div class="col-md-4 heading-favorite"><label>Review</label></div>
      <div class="col-md-2 heading-favorite"><label>Date</label></div>
      <div class="col-md-2 heading-favorite"><label>Actions</label></div>
    </div>
    <div class="row favorite-order">
      <div class="col-md-4 heading-favorite">
        <div class="pic-delivery">
          <h3><a href="#">Cafe Biola</a></h3>
        </div>
      </div>
      <div class="col-md-4 heading-favorite">
        <div class="pic-delivery">
          <ul class="star">
            <li>this</li>
            <li>this</li>
            <li>this</li>
            <li>this</li>
            <li>this</li>
          </ul>
          <p>
            This restaurant was really the best in pizza and the sauce was really nice.There should be more coupons for this restuaruant.
          </p>                
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <p>04/08/2013</p>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <button class="red-ful height-ful">Delete Review</button>
      </div>
      <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
    </div>
    <div class="row favorite-order">
      <div class="col-md-4 heading-favorite">
        <div class="pic-delivery">
          <h3><a href="#">Cafe Biola</a></h3>
        </div>
      </div>
      <div class="col-md-4 heading-favorite">
        <div class="pic-delivery">
          <ul class="star">
            <li>this</li>
            <li>this</li>
            <li>this</li>
            <li>this</li>
            <li>this</li>
          </ul>
          <p>
            This restaurant was really the best in pizza and the sauce was really nice.There should be more coupons for this restuaruant.
          </p>                
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <p>04/08/2013</p>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <button class="red-ful height-ful">Delete Review</button>
      </div>
      <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
    </div>
    <div class="row favorite-order">
      <div class="col-md-4 heading-favorite">
        <div class="pic-delivery">
          <h3><a href="#">Cafe Biola</a></h3>
        </div>
      </div>
      <div class="col-md-4 heading-favorite">
        <div class="pic-delivery">
          <ul class="star">
            <li>this</li>
            <li>this</li>
            <li>this</li>
            <li>this</li>
            <li>this</li>
          </ul>
          <p>
            This restaurant was really the best in pizza and the sauce was really nice.There should be more coupons for this restuaruant.
          </p>                
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <p>04/08/2013</p>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <button class="red-ful height-ful">Delete Review</button>
      </div>
      <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
    </div>
    <div class="row pagination-container">
      <div class="col-md-8 col-md-offset-4">
        <ul class="pagination">
          <li><a href="#">PREVIOUS</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>