<div class="row">
  <div class="col-md-12">
    <div class="row password-changer">
      <div class="col-md-3 heading-favorite"><label>Order Information</label></div>
      <div class="col-md-3 heading-favorite"><label>Restaurant</label></div>
      <div class="col-md-2 heading-favorite"><label>Total</label></div>
      <div class="col-md-2 heading-favorite"><label>Actions</label></div>
      <div class="col-md-2 heading-favorite"><label>Order Again</label></div>
    </div>
    <div class="row favorite-order">
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <p>04/08/2013</p>
          <p>9:18 PM</p>
        </div>
      </div>
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <h3><a href="#">Cafe Biola</a></h3>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <label>$85.20</label>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <p><a href="#">Rate</a></p>
          <p><a href="#">View Reciept</a></p>
          <p><a href="#">Add To Favorites</a></p>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <button class="order-again">Order Again</button>
      </div>
      <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
    </div>
    <div class="row favorite-order">
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <p>04/08/2013</p>
          <p>9:18 PM</p>
        </div>
      </div>
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <h3><a href="#">Cafe Biola</a></h3>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <label>$85.20</label>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <p><a href="#">Rate</a></p>
          <p><a href="#">View Reciept</a></p>
          <p><a href="#">Add To Favorites</a></p>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <button class="order-again">Order Again</button>
      </div>
      <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
    </div>
    <div class="row favorite-order">
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <p>04/08/2013</p>
          <p>9:18 PM</p>
        </div>
      </div>
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <h3><a href="#">Cafe Biola</a></h3>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <label>$85.20</label>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <p><a href="#">Rate</a></p>
          <p><a href="#">View Reciept</a></p>
          <p><a href="#">Add To Favorites</a></p>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <button class="order-again">Order Again</button>
      </div>
      <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
    </div><div class="row favorite-order">
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <p>04/08/2013</p>
          <p>9:18 PM</p>
        </div>
      </div>
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <h3><a href="#">Cafe Biola</a></h3>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <label>$85.20</label>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <p><a href="#">Rate</a></p>
          <p><a href="#">View Reciept</a></p>
          <p><a href="#">Add To Favorites</a></p>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <button class="order-again">Order Again</button>
      </div>
      <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
    </div>
    <div class="row favorite-order">
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <p>04/08/2013</p>
          <p>9:18 PM</p>
        </div>
      </div>
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <h3><a href="#">Cafe Biola</a></h3>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <label>$85.20</label>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <p><a href="#">Rate</a></p>
          <p><a href="#">View Reciept</a></p>
          <p><a href="#">Add To Favorites</a></p>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <button class="order-again">Order Again</button>
      </div>
      <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
    </div>
    <div class="row favorite-order">
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <p>04/08/2013</p>
          <p>9:18 PM</p>
        </div>
      </div>
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <h3><a href="#">Cafe Biola</a></h3>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <label>$85.20</label>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <p><a href="#">Rate</a></p>
          <p><a href="#">View Reciept</a></p>
          <p><a href="#">Add To Favorites</a></p>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <button class="order-again">Order Again</button>
      </div>
      <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
    </div>
    <div class="row favorite-order">
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <p>04/08/2013</p>
          <p>9:18 PM</p>
        </div>
      </div>
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <h3><a href="#">Cafe Biola</a></h3>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <label>$85.20</label>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <p><a href="#">Rate</a></p>
          <p><a href="#">View Reciept</a></p>
          <p><a href="#">Add To Favorites</a></p>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <button class="order-again">Order Again</button>
      </div>
      <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
    </div>
    <div class="row favorite-order">
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <p>04/08/2013</p>
          <p>9:18 PM</p>
        </div>
      </div>
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <h3><a href="#">Cafe Biola</a></h3>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <label>$85.20</label>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <p><a href="#">Rate</a></p>
          <p><a href="#">View Reciept</a></p>
          <p><a href="#">Add To Favorites</a></p>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <button class="order-again">Order Again</button>
      </div>
      <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
    </div>
    <div class="row favorite-order">
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <p>04/08/2013</p>
          <p>9:18 PM</p>
        </div>
      </div>
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <h3><a href="#">Cafe Biola</a></h3>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <label>$85.20</label>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <p><a href="#">Rate</a></p>
          <p><a href="#">View Reciept</a></p>
          <p><a href="#">Add To Favorites</a></p>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <button class="order-again">Order Again</button>
      </div>
      <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
    </div>
    <div class="row favorite-order">
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <p>04/08/2013</p>
          <p>9:18 PM</p>
        </div>
      </div>
      <div class="col-md-3 heading-favorite">
        <div class="pic-delivery">
          <h3><a href="#">Cafe Biola</a></h3>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <label>$85.20</label>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <div class="pic-delivery">
          <p><a href="#">Rate</a></p>
          <p><a href="#">View Reciept</a></p>
          <p><a href="#">Add To Favorites</a></p>
        </div>
      </div>
      <div class="col-md-2 heading-favorite">
        <button class="order-again">Order Again</button>
      </div>
      <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
    </div>
    <div class="row pagination-container">
      <div class="col-md-8 col-md-offset-4">
        <ul class="pagination">
          <li><a href="#">PREVIOUS</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>