<div class="col-md-12 reward-points-container">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4 chair-field">
        <img class="logo-image" alt="Smiley face" src="/assets/chair.png" />
      </div>
      <div class="col-md-8 chair-items">
        <h3>Welcome, <%= current_user.name %></h3>
        <p><%= UserPage.last.content %></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 reward-point-cart">
        <div class="reward-point">
          <span class="reward-img"></span>
          <label class="heading-point">Reward Points</label>
          <label class="points">In your account there are:</label>
          <h1><span><%= current_user.points %></span>Rewards Points</h1>
          <p>To check what cool gifts you can get with your rewards points <a href="<%= reward_points_path %>">click here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>