<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
     Locations 
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to "Home", admin_dashboard_index_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        Location Manangement
        <i class="fa fa-angle-right"></i>
      </li>
      <li> <%= link_to "Locations", admin_locations_path %></li>
    </ul>  
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="portlet">
      <div class="portlet-body">
        <div class="table-container">
          <table class="table table-striped table-bordered table-hover" id="locations-table">
            <thead>
              <tr>
                <th>School Name</th>
                <th>Branch Name </th>
                <th>School Address</th>
              </tr>
            </thead>  
            <tbody>
            </tbody>                
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
