<div class="row">
  <div class="container">
    <div class="row">
      <h3 class="col-md-6">View Menu </h3>
      <h3 class="col-md-6">View Restaurant </h3>
    </div>
    <div class="row">
      <ul>
        <% @menu.each do |menu| %>
          <li>
            <span class="col-md-6">
              <% if can? :read, Menu %>  
                <%= link_to "Menu- #{menu.id}", menu_path(menu)%> 
              <% end %>  
            </span>  
            <span>
              <% if can? :read, Restaurant %>  
                <%= link_to Restaurant.find(menu.restaurant.id).restaurant_name, restaurant_path(menu.restaurant.id) %>
              <% end %>  
            </span>
          </li>
        <% end%>
      </ul> 
    </div>   
  </div>
</div>    