<h1>Editing restaurant_category</h1>

<%= render 'form' %>

<%= link_to 'Show', [@school, @restaurant, @restaurant_category] %> |
<%= link_to 'Back', school_restaurant_restaurant_categories_path(@school, @restaurant) %>
