<h1>Editing restaurant_category</h1>

<%= render 'form' %>
<% if can? :read , RestaurantCategory %>
	<%= link_to 'Show',  @restaurant_category %> |
	<%= link_to 'Back', restaurant_categories_path %>
<% end %>	
