
<p>
  <b>Category name:</b>
  <%= @restaurant_category.category_name %>
</p>

<% if can? :update, RestaurantCategory %>
	<%= link_to 'Edit', edit_restaurant_category_path(@restaurant_category) %> |
<% end %>	
<% if can? :read, RestaurantCategory %>
	<%= link_to 'Back', restaurant_categories_path %>
<% end -%>	
