<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
     Review Tab 
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to "Home", admin_dashboard_index_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        Reviews Manangement
        <i class="fa fa-angle-right"></i>
      </li>
      <li> <%= link_to "Reviews", admin_reviews_path %></li>
    </ul>  
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-user"></i>Restaurant Listing
        </div>
      </div> 
      <div class="portlet-body">
        <div class="table-container">
          <table class="table table-striped table-bordered table-hover" id="reviews-table">
            <thead>
              <tr>
                <th>Restaurant Name</th>
                <th>Avg Rating </th>
                <th> Actions </th>
              </tr>
            </thead>  
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
