<div class="col-md-12 top-margin-ajax-field" >
	<div class="property form-group">
		<label class="col-md-2 form-label">Name</label>
		<div class="col-md-8">
			<input type='text' name = 'menu_item[menu_item_properties_attributes]["<%= length %>"][name]' class="form-control" >  
		</div>	
		<div class="col-md-2"></div>
	</div>
	<div class="property form-group">	
		<label class="col-md-2 form-label">Price</label>
		<div class="col-md-8">
			<input type='text' name = 'menu_item[menu_item_properties_attributes]["<%= length %>"][price]' class="form-control">
		</div>
		<div class="col-md-2"></div>
	</div>	
	<div class="row">
		<a href="javascript:;" class="remove-property-field col-md-4 pull-right"> Remove </a>
	</div>	
</div>