<div class="property">
	Property Name  <input type='text' name = 'menu_item[menu_item_properties_attributes]["<%= length %>"][name]' >  
	Price  <input type='text' name = 'menu_item[menu_item_properties_attributes]["<%= length %>"][price]' >
	<a href="#" class="remove-property-filed"> Remove </a>
</div>
 <br />

 <script>
	$(document).ready(function(){
		$(".remove-property-filed").click(function(){
	      $(this).parent().remove();
	  	});
	});
</script>