<h1>Editing menu_item</h1>

<%= render 'form' %>

<%= link_to 'Show', [@school, @restaurant, @menu, @menu_category, @menu_item] %> |
<%= link_to 'Back', school_restaurant_menu_index_path(@school, @restaurant) %>
