<div class="row">
  <div class="col-md-10">  
  	<table class="coupon-tabel">
  		<caption> Restaurant Coupons </caption>
  			<thead>
  				<tr>
	          <th> Coupon Image </th>
	          <th> Expiration date </th>
	          <th> Action </th>
          </tr>
        </thead>
        <tbody>
        	<% unless @coupons.blank? %>
        		<% @coupons.each do |coupon| %>
        			<tr>
        				<td> <%= image_tag(coupon.coupon_image(:thumb)) %></td>
        				<td><%= coupon.expiration_date.strftime("%m/%d/%Y") %></td>
        				<td>
        					<% unless coupon.status=='pending' %>
        						<%= link_to "edit", "javascript:void(0);", "data-toggle"=>"modal", "data-target"=>"#edit_coupon_model_#{coupon.id}"%> 
        					<% else%>
        						request pending
        					<% end %>
        				</td>
        			</tr>
        			<%= render :partial => "edit_coupon_model", :locals => { :@coupon => coupon} %>
        		<% end -%>
        	<% end %>
        </tbody>
  	</table>	
  </div>
</div>  	

<script type="text/javascript">
  $(document).ready(function(){
    $(".coupon-tabel").dataTable({
      paginate: true,
      scrollY: 300
    });
  })
</script>