<div class="row">
  <div class="col-md-12">
    <h3 class="page-title">
     New Orders
    </h3>
    <ul class="page-breadcrumb breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <%= link_to "Home", restaurant_dashboard_index_path %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <%= link_to "Restaurant", 'javascript:;' %>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <%= link_to "New Orders",new_orders_restaurant_dashboard_index_path %>
      </li>
    </ul>  
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-shopping-cart"></i>Order Listing
        </div>
      </div>
    </div>    
  </div>  
</div>