<div class="container">
  <%= render :partial => "site_flow" %>
  <div class='row'>
    <div id="carousel-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->

      <ol class="carousel-indicators">
        <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-generic" data-slide-to="1"></li>
        <li data-target="#carousel-generic" data-slide-to="2"></li>
        <li data-target="#carousel-generic" data-slide-to="3"></li>
      </ol>  

       <!-- Wrapper for slides -->

      <div class="carousel-inner">
        <div class="item active">
          <div class="slider-img"><img class="logo-image" alt="Smiley face" src="./assets/slider-1.png"></div>
        </div>
        <div class="item">
          <div class="slider-img"><img class="logo-image" alt="Smiley face" src="./assets/slider-2.jpg"></div>
        </div>
        <div class="item">
          <div class="slider-img"><img class="logo-image" alt="Smiley face" src="./assets/slider-3.jpg"></div>
        </div>
        <div class="item">
          <div class="slider-img"><img class="logo-image" alt="Smiley face" src="./assets/slider-4.jpg"></div>
        </div>
      </div>
    </div>        
  </div>
</div>