<div class="container">
  <div class='row'>
    <div class="col-md-8 col-md-offset-2 bit-img">
      <img class="logo-image" alt="Smiley face" src="./assets/bite-capus.png">
    </div>
  </div>
  <div class='row' id='how-it-works'>
    <div class="col-md-3 Search-block">
      <h2>Search</h2>
      <img class="logo-image" alt="Smiley face" src="./assets/map.png">
      <p>local campus restaurants</p>
    </div>
    <div class="col-md-1 arrow">
      <img class="logo-image" alt="Smiley face" src="./assets/MainPage_15.png">
    </div>
    <div class="col-md-3 Search-block">
      <h2>Order</h2>
      <img class="logo-image" alt="Smiley face" src="./assets/order.png">
      <p>FROM THE ONLINE MENU</p>
    </div>
    <div class="col-md-1 arrow">
      <img class="logo-image" alt="Smiley face" src="./assets/arrow2.png">
    </div>
    <div class="col-md-3 Search-block">
      <h2>Enjoy</h2>
      <img class="logo-image" alt="Smiley face" src="./assets/enjoy.png">
      <p>FRESH AND TASTY FOOD</p>
    </div>
  </div>

  <div class='row'>
    <div id="carousel-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->

      <ol class="carousel-indicators">
        <li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-generic" data-slide-to="1"></li>
        <li data-target="#carousel-generic" data-slide-to="2"></li>
        <li data-target="#carousel-generic" data-slide-to="3"></li>
      </ol>  

       <!-- Wrapper for slides -->

      <div class="carousel-inner">
        <div class="item active">
          <div class="slider-img"><img class="logo-image" alt="Smiley face" src="./assets/slider-img.png"></div>
        </div>
        <div class="item">
          <div class="slider-img"><img class="logo-image" alt="Smiley face" src="./assets/img1.jpg"></div>
        </div>
        <div class="item">
          <div class="slider-img"><img class="logo-image" alt="Smiley face" src="./assets/img2.jpg"></div>
        </div>
        <div class="item">
          <div class="slider-img"><img class="logo-image" alt="Smiley face" src="./assets/img2.jpg"></div>
        </div>
      </div>

      <!-- Controls -->
       <a class="left carousel-control" href="#carousel-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
  
    </div>        
  </div>
</div>