<div class="col-md-3 logo-side-1">
  <img class="logo-image" alt="Smiley face" src="/assets/logo.png" />
</div>
<div class="col-md-9 add-side">
  <img class="liner-3" alt="Smiley face" src="/assets/liner-3.png" />
</div>
<div class="row result-heading">
  <div class="col-md-12 resturant-heading">
    <h2>Back To All Restaurants</h2> 
  </div>
  <div class="comment-main-container">
    <div class="row comment-block odd">
      <div class="col-md-2 comment-images">
        <img class="logo-image" alt="Smiley face" src="/assets/lunch.png" />
      </div>
      <div class="col-md-10 menu-block">
        <div class="row">
          <div class="col-md-6 comment-ground">
            <h2>Comment Ground</h2>
            <p>2891 Hempstead Ave, Long Island NY, 11223</p>
          </div>
          <div class="col-md-6 online-orders">
            <h3>10% off online orders</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 food-block">
            <div class="row delivery-block">
              <div class="col-md-2 delivery-field-img">
                <img class="open" alt="Smiley face" src="/assets/open.png" />
              </div>
              <div class="col-md-2 delivery-field">
                <label>TYPE OF FOOD:</label>
                <p>Italian, French,and Specialty</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY FEE:</label>
                <p>free</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY MIN:</label>
                <p>$5.00</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>ESTIMATED TIME:</label>
                <p>45-55 Minutes</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label class="del-yes">DELIVERY:</label><a class="yes-no" href="#">yes</a>
                <label class="pic-no">PICKUP:</label><a class="yes-no" href="#">No</a>   
              </div>
            </div>                        
          </div>
          <div class="col-md-3 view-menu">
            <button class="view-button">+ Add to favorites</button>
          </div>
        </div>
      </div>
    </div>
    <img class="shadow-image" alt="Smiley face" src="/assets/shadow.png" />
  </div>
</div>