<div class="detail-req detail-req-node">
  <h2>Tip</h2>
  <div class="row">
    <div class="col-md-2 tip-items">
      <div class="cards"><span><input type="radio"></span>0%</div>
    </div>
    <div class="col-md-2 tip-items">
      <div class="cards"><span><input type="radio"></span>10%</div>
    </div>
    <div class="col-md-2 tip-items">
      <div class="cards"><span><input type="radio"></span>15%</div>
    </div>
    <div class="col-md-2 tip-items">
      <div class="cards"><span><input type="radio"></span>20%</div>
    </div>
    <div class="col-md-4 tip-items">
      <div class="tip-field"><span>$</span><input type="text" placeholder="21.48"></div>
    </div>
  </div>
</div>