<div class="detail-req detail-req-node">
  <h2>Promo Code</h2>
  <div class="row">
    <div class="col-md-6 tip-items">
      <p>Enter Your Code</p>
    </div>
    <div class="col-md-4 tip-items">
      <input class="required-first" type="text" placeholder="Promo Code" />
    </div>
    <div class="col-md-2 tip-items">
      <button>Apply</button>
    </div>
  </div>
</div>