<div class="col-md-3 logo-side-1">
  <img class="logo-image" alt="Smiley face" src="/assets/logo.png" />
</div>
<div class="col-md-9 add-side">
  <div class="main-search-bar">
    <%= form_for "search", :url => result_welcome_index_path, :method => 'get'  do |f| %>
      <div class="search-botton">
        <div class="delivery"><%= check_box_tag :is_deliver, true %>DELIVERY</div>
        <div class="pickup"><%= check_box_tag :is_pick_up, true %>PICKUP</div>
      </div>
      <div class="search-field">
        <input type="text" name = "keyword",  placeholder="School Name or Campus", class = "search-keyword", value = <%= params[:keyword] %> >
      </div>
      <div class="search">
        <button class="search-b">Search</button>
      </div>
    <% end -%> 
  </div>
</div>
<div class="row school-campus-img">
  <div class="col-md-10 col-md-offset-1 padding-zero">
    <img class="logo-image" alt="Smiley face" src="/assets/liner-2.png" />
  </div>
</div>