<div class="col-md-10 result-category-right">
  <div class="comment-main-container">
    <div class="row comment-block odd">
      <div class="col-md-2 comment-images">
        <button class="feature">Featured</button>
        <img class="logo-image" alt="Smiley face" src="/assets/lunch.png" />
      </div>
      <div class="col-md-10 menu-block">
        <div class="row">
          <div class="col-md-6 comment-ground">
            <h2>Comment Ground</h2>
            <p>2891 Hempstead Ave, Long Island NY, 11223</p>
          </div>
          <div class="col-md-6 online-orders">
            <h3>10% off online orders</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 food-block">
            <div class="row delivery-block">
              <div class="col-md-2 delivery-field-img">
                <img class="open" alt="Smiley face" src="/assets/open.png" />
              </div>
              <div class="col-md-2 delivery-field">
                <label>TYPE OF FOOD:</label>
                <p>Italian, French,and Specialty</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY FEE:</label>
                <p>free</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY MIN:</label>
                <p>$5.00</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>ESTIMATED TIME:</label>
                <p>45-55 Minutes</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>REVIEWS:</label>
                <p><img class="stars" alt="Smiley face" src="/assets/stars.png" /></p>
              </div>
            </div>                        
          </div>
          <div class="col-md-2 view-menu">
            <button class="view-button">VIEW MENU</button>
          </div>
        </div>
      </div>
    </div>
    <img class="shadow-image" alt="Smiley face" src="/assets/shadow.png" />
  </div>
  <div class="comment-main-container">
    <div class="row comment-block even">
      <div class="col-md-2 comment-images">
        <button class="feature">Featured</button>
        <img class="logo-image" alt="Smiley face" src="/assets/dinner.jpg" />
      </div>
      <div class="col-md-10 menu-block">
        <div class="row">
          <div class="col-md-6 comment-ground">
            <h2>Talon</h2>
            <p>2891 Hempstead Ave, Long Island NY, 11223</p>
          </div>
          <div class="col-md-6 online-orders">
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 food-block">
            <div class="row delivery-block">
              <div class="col-md-2 delivery-field-img">
                <img class="open" alt="Smiley face" src="/assets/open.png" />
              </div>
              <div class="col-md-2 delivery-field">
                <label>TYPE OF FOOD:</label>
                <p>Italian, French,and Specialty</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY FEE:</label>
                <p>free</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY MIN:</label>
                <p>$5.00</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>ESTIMATED TIME:</label>
                <p>45-55 Minutes</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>REVIEWS:</label>
                <p><img class="stars" alt="Smiley face" src="/assets/stars.png" /></p>
              </div>
            </div>                        
          </div>
          <div class="col-md-2 view-menu">
            <button class="view-button">VIEW MENU</button>
          </div>
        </div>
      </div>
    </div>
    <img class="shadow-image" alt="Smiley face" src="/assets/shadow.png" />
  </div>
  <div class="comment-main-container">
    <div class="row comment-block odd">
      <div class="col-md-2 comment-images">
        <img class="logo-image" alt="Smiley face" src="/assets/shop.jpg" />
      </div>
      <div class="col-md-10 menu-block">
        <div class="row">
          <div class="col-md-6 comment-ground">
            <h2>Biola Steakhouse</h2>
            <p>2891 Hempstead Ave, Long Island NY, 11223</p>
          </div>
          <div class="col-md-6 online-orders">
            <h3>5% off for students / 10% off for staff</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 food-block">
            <div class="row delivery-block">
              <div class="col-md-2 delivery-field-img">
                <img class="open" alt="Smiley face" src="/assets/open.png" />
              </div>
              <div class="col-md-2 delivery-field">
                <label>TYPE OF FOOD:</label>
                <p>Italian, French,and Specialty</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY FEE:</label>
                <p>free</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY MIN:</label>
                <p>$5.00</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>ESTIMATED TIME:</label>
                <p>45-55 Minutes</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>REVIEWS:</label>
                <p><img class="stars" alt="Smiley face" src="/assets/stars.png" /></p>
              </div>
            </div>                        
          </div>
          <div class="col-md-2 view-menu">
            <button class="view-button">VIEW MENU</button>
          </div>
        </div>
      </div>
    </div>
    <img class="shadow-image" alt="Smiley face" src="/assets/shadow.png" />
  </div>
  <div class="comment-main-container">
    <div class="row comment-block even">
      <div class="col-md-2 comment-images">
        <img class="logo-image" alt="Smiley face" src="/assets/lunch.png" />
      </div>
      <div class="col-md-10 menu-block">
        <div class="row">
          <div class="col-md-6 comment-ground">
            <h2>Italian Pizza and Steakhouse</h2>
            <p>2891 Hempstead Ave, Long Island NY, 11223</p>
          </div>
          <div class="col-md-6 online-orders">
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 food-block">
            <div class="row delivery-block">
              <div class="col-md-2 delivery-field-img">
                <img class="open" alt="Smiley face" src="/assets/open.png" />
              </div>
              <div class="col-md-2 delivery-field">
                <label>TYPE OF FOOD:</label>
                <p>Italian, French,and Specialty</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY FEE:</label>
                <p>free</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY MIN:</label>
                <p>$5.00</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>ESTIMATED TIME:</label>
                <p>45-55 Minutes</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>REVIEWS:</label>
                <p><img class="stars" alt="Smiley face" src="/assets/stars.png" /></p>
              </div>
            </div>                        
          </div>
          <div class="col-md-2 view-menu">
            <button class="view-button">VIEW MENU</button>
          </div>
        </div>
      </div>
    </div>
    <img class="shadow-image" alt="Smiley face" src="/assets/shadow.png" />
  </div>
  <div class="comment-main-container">
    <div class="row comment-block odd">
      <div class="col-md-2 comment-images">
        <img class="logo-image" alt="Smiley face" src="/assets/dinner.jpg" />
      </div>
      <div class="col-md-10 menu-block">
        <div class="row">
          <div class="col-md-6 comment-ground">
            <h2>Planet Wings</h2>
            <p>2891 Hempstead Ave, Long Island NY, 11223</p>
          </div>
          <div class="col-md-6 online-orders">
            <h3>10% off online orders</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 food-block">
            <div class="row delivery-block">
              <div class="col-md-2 delivery-field-img">
                <img class="open" alt="Smiley face" src="/assets/open.png" />
              </div>
              <div class="col-md-2 delivery-field">
                <label>TYPE OF FOOD:</label>
                <p>Italian, French,and Specialty</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY FEE:</label>
                <p>free</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY MIN:</label>
                <p>$5.00</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>ESTIMATED TIME:</label>
                <p>45-55 Minutes</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>REVIEWS:</label>
                <p><img class="stars" alt="Smiley face" src="/assets/stars.png" /></p>
              </div>
            </div>                        
          </div>
          <div class="col-md-2 view-menu">
            <button class="view-button">VIEW MENU</button>
          </div>
        </div>
      </div>
    </div>
    <img class="shadow-image" alt="Smiley face" src="/assets/shadow.png" />
  </div>
  <div class="comment-main-container">
    <div class="row comment-block even">
      <div class="col-md-2 comment-images">
        <img class="logo-image" alt="Smiley face" src="/assets/lunch.png" />
      </div>
      <div class="col-md-10 menu-block">
        <div class="row">
          <div class="col-md-6 comment-ground">
            <h2>Sandwiches</h2>
            <p>2891 Hempstead Ave, Long Island NY, 11223</p>
          </div>
          <div class="col-md-6 online-orders-gray">
            <h3>PHONE ORDERS ONLY</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 food-block">
            <div class="row delivery-block">
              <div class="col-md-2 delivery-field-img">
                <img class="open" alt="Smiley face" src="/assets/close.png" />
              </div>
              <div class="col-md-2 delivery-field">
                <label>TYPE OF FOOD:</label>
                <p>Italian, French,and Specialty</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY FEE:</label>
                <p>free</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY MIN:</label>
                <p>$5.00</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>ESTIMATED TIME:</label>
                <p>45-55 Minutes</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>REVIEWS:</label>
                <p><img class="stars" alt="Smiley face" src="/assets/stars.png" /></p>
              </div>
            </div>                        
          </div>
          <div class="col-md-2 view-menu">
            <button class="view-button-red">VIEW MENU</button>
          </div>
        </div>
      </div>
    </div>
    <img class="shadow-image" alt="Smiley face" src="/assets/shadow.png" />
  </div>
  <div class="comment-main-container">
    <div class="row comment-block odd">
      <div class="col-md-2 comment-images">
        <button class="feature">Featured</button>
        <img class="logo-image" alt="Smiley face" src="/assets/lunch.png" />
      </div>
      <div class="col-md-10 menu-block">
        <div class="row">
          <div class="col-md-6 comment-ground">
            <h2>Chicken Wings</h2>
            <p>2891 Hempstead Ave, Long Island NY, 11223</p>
          </div>
          <div class="col-md-6 online-orders">
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 food-block">
            <div class="row delivery-block">
              <div class="col-md-2 delivery-field-img">
                <img class="open" alt="Smiley face" src="/assets/close.png" />
              </div>
              <div class="col-md-2 delivery-field">
                <label>TYPE OF FOOD:</label>
                <p>Italian, French,and Specialty</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY FEE:</label>
                <p>free</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>DELIVERY MIN:</label>
                <p>$5.00</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>ESTIMATED TIME:</label>
                <p>45-55 Minutes</p>
              </div>
              <div class="col-md-2 delivery-field">
                <label>REVIEWS:</label>
                <p><img class="stars" alt="Smiley face" src="/assets/stars.png" /></p>
              </div>
            </div>                        
          </div>
          <div class="col-md-2 view-menu">
            <button class="view-button-red">VIEW MENU</button>
          </div>
        </div>
      </div>
    </div>
    <img class="shadow-image" alt="Smiley face" src="/assets/shadow.png" />
  </div>
</div>