<div class="col-md-12 coupon-container">
  <img class="coupon" alt="Smiley face" src="/assets/copoun.png" />
  <div class="col-md-12 Print-Coupon"><a href="#">Click To Print Coupon</a></div>
</div>
<div class="col-md-12 coupon-container">
  <img class="coupon" alt="Smiley face" src="/assets/copoun.png" />
  <div class="col-md-12 Print-Coupon"><a href="#">Click To Print Coupon</a></div>
</div>
<div class="col-md-12 coupon-container">
  <img class="coupon" alt="Smiley face" src="/assets/copoun.png" />
  <div class="col-md-12 Print-Coupon"><a href="#">Click To Print Coupon</a></div>
</div>
<div class="col-md-12 coupon-container">
  <img class="coupon" alt="Smiley face" src="/assets/copoun.png" />
  <div class="col-md-12 Print-Coupon"><a href="#">Click To Print Coupon</a></div>
</div>
<div class="col-md-12 coupon-container">
  <img class="coupon" alt="Smiley face" src="/assets/copoun.png" />
  <div class="col-md-12 Print-Coupon"><a href="#">Click To Print Coupon</a></div>
</div>