<div class="container">
  <div class="col-md-4 logo-side">
    <img class="logo-image" alt="Smiley face" src="./assets/logo.png">
  </div>
  <div class="col-md-8 add-side">
    <img class="logo-image" alt="Smiley face" src="./assets/add.png">
  </div>
  <div class="row school-campus">
    <div class="col-md-10 col-md-offset-1">
      <p class="school-name">Enter your School name or Campus to find local restaurants!</p>
      <div class="main-search-bar">
        <div class="search-botton">
          <div class="delivery"><input type="checkbox" />DELIVERY</div>
          <div class="pickup"><input type="checkbox" />PICKUP</div>
        </div>
        <div class="search-field">
          <input type="text" placeholder="School Name or Campus">
        </div>
        <div class="search">
          <button class="search-b">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row school-campus-img">
    <div class="col-md-10 col-md-offset-1 padding-zero">
      <img class="logo-image" alt="Smiley face" src="./assets/liner.png" />
    </div>
  </div>
</div>