<div class="row Restaurant-results">
<div class="col-md-2 result-category">
  <div class="all-categories">
    <div class="result-label">Result</div>
    <div class="category">
      <label>Choose a category:</label>
      <ul class="chooses">
        <li><a href="#">All categories(19)</a></li>
        <li><a href="#">American (4)</a></li>
        <li><a href="#">Breakfast (5)</a></li>
        <li><a href="#">Chicken (3)</a></li>
        <li><a href="#">English(4)</a></li>
        <li><a href="#">Healthy(4)</a></li>
        <li><a href="#">Italian (5)</a></li>
        <li><a href="#">Korean (8)</a></li>
        <li><a href="#">Lebanese (4)</a></li>
        <li><a href="#">Pizza (4)</a></li>
      </ul>
    </div>
  </div>
  <div class="category-by-sort">
    <div class="padding-around">
      <label>By Sort:</label>
        <ul class="by-sort">
          <li><input type="checkbox">Best Match</li>
          <li><input type="checkbox">Delivery Fee</li>
          <li><input type="checkbox">Delivery Minimum</li>
          <li><input type="checkbox">Ratings</li>
          <li><input type="checkbox">Estimated Time</li>
          <li><input type="checkbox">Restaurant Name</li>
        </ul>
    </div>
  </div>
  <div class="category-search">
    <div class="padding-around">
      <label>Restaurant Search:</label>
      <label class="search-tax"><input type="text" /><button>Search</button></label>
    </div>
  </div>   
</div>