<div class="col-md-3 logo-side-1">
  <%= link_to raw("<img class='logo-image' alt='Smiley face' src='/assets/logo.png'>"), '/' %>
</div>
<div class="col-md-9 add-side">
  <%= render :partial => "welcome/search_form" %>
</div>
