<div class="singup-second">
  <div class="col-md-6 checkout-field">
    <label>First Name:</label>
    <input type="text" placeholder="First Name" />
  </div>
  <div class="col-md-6 checkout-field">
    <label>Last Name:</label>
    <input type="text" placeholder="Last Name:" />
  </div>
    <div class="col-md-6 checkout-field">
    <label>Email:</label>
    <input type="text" placeholder="Email" />
  </div>
  <div class="col-md-6 checkout-field">
    <label>Password:</label>
    <input type="text" placeholder="Password" />
  </div>
  <div class="col-md-12 checkout-field">
    <label>Your School:</label>
    <input type="text" placeholder="Your School" />
    <p>By clicking Sign Up you agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></p>
  </div>
  <div class="col-md-12 submit-button facebook-button" id="singn-in-btn">
    <button>Sign in</button>
    <p><a class="facebook-icon" href="#">Forgot your password?</a></p>
  </div> 
  <img class="form-shadow" alt="Smiley face" src="/assets/shadow.png">
</div>
<div class="col-md-12 signup-content">
  <div class="row compus-content-container">
    <div class="col-md-12">
      <p class="order-heading">CampusBite offers a ton of benefits for being a member.Here you can see some of the best ones!</p>
    </div>
    <div class="col-md-12 compus-content-even">
      <p class="green-heading">Easy to Reorder Your Favorites-No Thinking Needed to Order</p>
      <div class="col-md-3 member-icon">
        <img class="logo-image" alt="Smiley face" src="/assets/bin.png">
      </div>
      <div class="col-md-9 member-content">
        <p>The CampusBite membership means that your orders are locked into history. If you have a favorite meal, you can just go in and select it quickly. Your favorite munchies, lunches, and dinners are ready to go with the click of a button.</p>
      </div>
    </div>
    <div class="col-md-12 compus-content-odd">
      <div class="col-md-9 col-md-offset-3 deals-category">
        <h5>You Get the deals - cha-ching!</h5>
      </div>
      <div class="col-md-3 member-icon">
        <img class="logo-image" alt="Smiley face" src="/assets/sale.png">
      </div>
      <div class="col-md-9 member-content">
        <p>When you are a CampusBite member, you will receive the best in money saving offers including discounts on everything and new coupons as soon as they come out of the marketing teams oven. We know you love saving money, and we want to make sure you do!</p>
      </div>
    </div>
    <div class="col-md-12 compus-content-even">
      <div class="col-md-9 col-md-offset-3 deals-category">
        <h5>store your address</h5>
      </div>
      <div class="col-md-3 member-icon">
        <img class="logo-image" alt="Smiley face" src="/assets/sale-1.png">
      </div>
      <div class="col-md-9 member-content">
        <p>Your address for work and home is saved in our secured system, so you do not have to remind us where to go, we already know. This is how we saveyou even more time!</p>
      </div>
    </div>
    <div class="col-md-12 compus-content-odd">
      <div class="col-md-9 col-md-offset-3 deals-category">
        <h5>store your payment information</h5>
      </div>
      <div class="col-md-3 member-icon">
        <img class="logo-image" alt="Smiley face" src="/assets/sale3.png">
      </div>
      <div class="col-md-9 member-content">
        <p>You can quickly order without having to find your debitor credit card. We securely store your information so you do not have to worry about it getting out there, just another way we make your life easier.</p>
      </div>
    </div>
  </div>
  <img class="checkout-shadow" alt="Smiley face" src="/assets/shadow.png">
</div>