<div class='row'>
  <div class="col-md-8 col-md-offset-2 bit-img text-center">
    <img class="logo-image" alt="Smiley face" src="./assets/bite-capus.png">
  </div>
</div>
<div class='row' id='how-it-works'>
  <div class="col-md-2 col-xs-2 Search-block">
    <img class="logo-image" alt="Smiley face" src="./assets/your-camp.png">
    <div class="arrow-next"></div>
  </div>
  <div class="col-md-2 col-xs-2 Search-block">
    <img class="logo-image" alt="Smiley face" src="./assets/local-res.png">
    <div class="arrow-next"></div>
  </div>
  <div class="col-md-2 col-xs-2 Search-block">
    <img class="logo-image" alt="Smiley face" src="./assets/menu-order.png">
    <div class="arrow-next"></div>
  </div>
  <div class="col-md-2 col-xs-2 Search-block">
    <img class="logo-image" alt="Smiley face" src="./assets/checkout-eat.png">
  </div>
  <div class="col-md-2 col-xs-2 Search-block">
    <img class="logo-image" alt="Smiley face" src="./assets/reward-point.png">
  </div>
</div>