<div class="row search-container menupage checkout-page last-page aboutus-page">
  <div class="container">
    <div class="col-md-12 main-fram-container">
      <div class="row">
        <div class="col-md-4  col-md-offset-4 about-logo">
          <img class="logo-image" alt="Smiley face" src="/assets/about-logo.png" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 about-heading">
          <h1>About us</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 about-heading">
          <div class="location-container">
            <p>Ever wanted to order food from the comfort of your own home, dorm, or even class? Campus Bite is here and ready to take your orders instantly! Campus bite is a service that will enable you to order food online and is specifically created for students. With our diverse catalog, you can find local restaurants in your area and take a look at the menu of every restaurant. The menus include everything from the name of each delicious product provided to the price of every delicious product. There are many restaurants in every area and they provide delivery services or you can pick up the order yourself.Restaurants are classified depending on the type, location, name, and customer experiences.</p>
            <h4>Benefits of using CampusBite:</h4>
            <ul>
              <li>Free To Use</li>
              <li>Rewards Points For Every Order</li>
              <li>Easy To Reorder Your Favorites</li>
              <li>You Get The Deals - Cha Ching!</li>
              <li>Store Your Address</li>
              <li>Store Your Payment Information</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 about-heading">
          <div class="row">
            <div class="col-md-12 child-container">
              <img class="child-image" alt="Smiley face" src="/assets/child.png" />
            </div>
          </div>
          <div class="row socail-icons-container">
            <h4>connect with us</h4>
            <div class="col-md-1 col-md-offset-4 social-icon">
              <a href="#"><img class="logo-image" alt="Smiley face" src="/assets/facebook.png" /></a>
            </div>
            <div class="col-md-2 social-icon">
              <a href="#"><img class="logo-image" alt="Smiley face" src="/assets/twitter.png" /></a>
            </div>
            <div class="col-md-1 social-icon">
              <a href="#"><img class="logo-image" alt="Smiley face" src="/assets/youtube.png" /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 about-heading">
          <div class="foot-note">
            <p>By using Campus Bite, you can order all your meals online in a fast and effective manner. With this outstanding service, you will get accurate orders, secure payment methods, and vast dining options in your area. All you have to is make an order and you will receive it in no time. It really is this simple!</p>
            <p>If you have any questions we are more than happy to answer. You can chat with us directly using our live chat. You can also email us, or call us. <a href="#">Click Here</a> to go to the Contact Us page. We would love to hear from you, whether it is a question, feedback, or anything that you would like to share with us! </p>
          </div>
        </diV>
      </div>
    </div>
  </div>
</div>