<div class="row search-container result-page menupage checkout-page last-page aboutus-page career-page">
  <div class="container">
    <div class="col-md-12 main-fram-container">
      <div class="row">
        <div class="col-md-4  col-md-offset-4 about-logo">
          <%= link_to raw("<img class='logo-image' alt='Smiley face' src='/assets/about-logo.png'>"), '/' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 about-heading">
          <h1>Careers</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 about-heading">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <label>Brand Ambassador - Texas</label>
                    <span class="add pull-right"><img src="/assets/minus.png"></span>
                    <span class="less pull-right"><img src="/assets/plus.png"></span>
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                 <h5>The Job:</h5>
                 <p>-Use our key business goals, market strategies and consumer insights to create innovative plans that drive measurable results.</p>
                 <p>-Develop marketing programs to drive brand awareness, in-network word of mouth and new customer growth both on a local and national scale.</p>
                 <p>-Understand our key markets and the cultural drivers/differences in each and leverage that knowledge to build targeted local marketing plans.</p>
                 <p>-Serve as the project manager in the execution and resource management for key marketing initiatives, ensuring they are executed on time and under budget.</p>
                 <p> -Use your creative skills to develop stand-alone tactics as well as collaborate on integrated marketing initiatives in a way that brings our brands to life.</p>
                 <a href="#" class="apply">You can apply by emailing us at Career@CampusBite.com</a>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2">
                    <label>Brand Ambassador - New YOrk</label>
                     <span class="less pull-right"><img src="/assets/plus.png"></span>
                      <span class="add pull-right"><img src="/assets/minus.png"></span>
                  </a>
                </h4>
              </div>
              <div id="collapse-2" class="panel-collapse collapse">
                <div class="panel-body">
                 <h5>The Job:</h5>
                 <p>-Use our key business goals, market strategies and consumer insights to create innovative plans that drive measurable results.</p>
                 <p>-Develop marketing programs to drive brand awareness, in-network word of mouth and new customer growth both on a local and national scale.</p>
                 <p>-Understand our key markets and the cultural drivers/differences in each and leverage that knowledge to build targeted local marketing plans.</p>
                 <p>-Serve as the project manager in the execution and resource management for key marketing initiatives, ensuring they are executed on time and under budget.</p>
                 <p> -Use your creative skills to develop stand-alone tactics as well as collaborate on integrated marketing initiatives in a way that brings our brands to life.</p>
                 <a href="#" class="apply">You can apply by emailing us at Career@CampusBite.com</a>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-3">
                    <label>Sales person - California</label>
                     <span class="less pull-right"><img src="/assets/plus.png"></span>
                      <span class="add pull-right"><img src="/assets/minus.png"></span>
                  </a>
                </h4>
              </div>
              <div id="collapse-3" class="panel-collapse collapse">
                <div class="panel-body">
                 <h5>The Job:</h5>
                 <p>-Use our key business goals, market strategies and consumer insights to create innovative plans that drive measurable results.</p>
                 <p>-Develop marketing programs to drive brand awareness, in-network word of mouth and new customer growth both on a local and national scale.</p>
                 <p>-Understand our key markets and the cultural drivers/differences in each and leverage that knowledge to build targeted local marketing plans.</p>
                 <p>-Serve as the project manager in the execution and resource management for key marketing initiatives, ensuring they are executed on time and under budget.</p>
                 <p> -Use your creative skills to develop stand-alone tactics as well as collaborate on integrated marketing initiatives in a way that brings our brands to life.</p>
                 <a href="#" class="apply">You can apply by emailing us at Career@CampusBite.com</a>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-4">
                    <label>SALES PERSON - Texas</label>
                     <span class="less pull-right"><img src="/assets/plus.png"></span>
                      <span class="add pull-right"><img src="/assets/minus.png"></span>
                  </a>
                </h4>
              </div>
              <div id="collapse-4" class="panel-collapse collapse">
                <div class="panel-body">
                 <h5>The Job:</h5>
                 <p>-Use our key business goals, market strategies and consumer insights to create innovative plans that drive measurable results.</p>
                 <p>-Develop marketing programs to drive brand awareness, in-network word of mouth and new customer growth both on a local and national scale.</p>
                 <p>-Understand our key markets and the cultural drivers/differences in each and leverage that knowledge to build targeted local marketing plans.</p>
                 <p>-Serve as the project manager in the execution and resource management for key marketing initiatives, ensuring they are executed on time and under budget.</p>
                 <p> -Use your creative skills to develop stand-alone tactics as well as collaborate on integrated marketing initiatives in a way that brings our brands to life.</p>
                 <a href="#" class="apply">You can apply by emailing us at Career@CampusBite.com</a>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-5">
                    <label>CUSTOMER SERVICE - Texas</label>
                     <span class="less pull-right"><img src="/assets/plus.png"></span>
                      <span class="add pull-right"><img src="/assets/minus.png"></span>
                  </a>
                </h4>
              </div>
              <div id="collapse-5" class="panel-collapse collapse">
                <div class="panel-body">
                 <h5>The Job:</h5>
                 <p>-Use our key business goals, market strategies and consumer insights to create innovative plans that drive measurable results.</p>
                 <p>-Develop marketing programs to drive brand awareness, in-network word of mouth and new customer growth both on a local and national scale.</p>
                 <p>-Understand our key markets and the cultural drivers/differences in each and leverage that knowledge to build targeted local marketing plans.</p>
                 <p>-Serve as the project manager in the execution and resource management for key marketing initiatives, ensuring they are executed on time and under budget.</p>
                 <p> -Use your creative skills to develop stand-alone tactics as well as collaborate on integrated marketing initiatives in a way that brings our brands to life.</p>
                 <a href="#" class="apply">You can apply by emailing us at Career@CampusBite.com</a>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-6">
                    <label>CUSTOMER SERVICE - Texas</label>
                     <span class="less pull-right"><img src="/assets/plus.png"></span>
                      <span class="add pull-right"><img src="/assets/minus.png"></span>
                  </a>
                </h4>
              </div>
              <div id="collapse-6" class="panel-collapse collapse">
                <div class="panel-body">
                 <h5>The Job:</h5>
                 <p>-Use our key business goals, market strategies and consumer insights to create innovative plans that drive measurable results.</p>
                 <p>-Develop marketing programs to drive brand awareness, in-network word of mouth and new customer growth both on a local and national scale.</p>
                 <p>-Understand our key markets and the cultural drivers/differences in each and leverage that knowledge to build targeted local marketing plans.</p>
                 <p>-Serve as the project manager in the execution and resource management for key marketing initiatives, ensuring they are executed on time and under budget.</p>
                 <p> -Use your creative skills to develop stand-alone tactics as well as collaborate on integrated marketing initiatives in a way that brings our brands to life.</p>
                 <a href="#" class="apply">You can apply by emailing us at Career@CampusBite.com</a>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-7">
                    <label>BRAND AMBASSADOR - FLORIDA</label>
                     <span class="less pull-right"><img src="/assets/plus.png"></span>
                      <span class="add pull-right"><img src="/assets/minus.png"></span>
                  </a>
                </h4>
              </div>
              <div id="collapse-7" class="panel-collapse collapse">
                <div class="panel-body">
                 <h5>The Job:</h5>
                 <p>-Use our key business goals, market strategies and consumer insights to create innovative plans that drive measurable results.</p>
                 <p>-Develop marketing programs to drive brand awareness, in-network word of mouth and new customer growth both on a local and national scale.</p>
                 <p>-Understand our key markets and the cultural drivers/differences in each and leverage that knowledge to build targeted local marketing plans.</p>
                 <p>-Serve as the project manager in the execution and resource management for key marketing initiatives, ensuring they are executed on time and under budget.</p>
                 <p> -Use your creative skills to develop stand-alone tactics as well as collaborate on integrated marketing initiatives in a way that brings our brands to life.</p>
                 <a href="#" class="apply">You can apply by emailing us at Career@CampusBite.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>