<div class="row search-container result-page menupage checkout-page last-page aboutus-page owner-page-1">
  <div class="container">
    <div class="col-md-12 main-fram-container">
      <div class="row">
        <div class="col-md-4  col-md-offset-4 about-logo">
          <img class="logo-image" alt="Smiley face" src="/assets/about-logo.png" />
        </div>
        <div class="col-md-4 house-logo-1">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 about-heading padding-zero">
          <h1>HOW IT WORKS</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 working-campus">
          <div class="row separator">
            <div class="col-md-3 image-left">
              <img class="logo-image" alt="Smiley face" src="/assets/lcd.png" />
            </div>
            <div class="col-md-8 school-campus">
              <h1>Enter Your Campus</h1>
              <p>Browse local restaurants by School Name or Campus to make deciding on your next meal easy and stress free. We know you don't always want to leave campus to eat, so we made it easy to order with a few clicks.</p>
            </div>
          </div>
          <div class="row separator">
            <div class="col-md-8 school-campus">
              <h1>Browse Local Restaurants</h1>
              <p>Once you have selected your School Name or Campus, the list of local restaurants will be listed. Many filters are available for you to pick in order to get the restaurant that best suits you.</p>
            </div>
            <div class="col-md-4 image-right">
              <img class="logo-image" alt="Smiley face" src="/assets/mapping.png" />
            </div>
          </div>
          <div class="row separator">
            <div class="col-md-3 image-left">
              <img class="logo-image" alt="Smiley face" src="/assets/lcd2.png" />
            </div>
            <div class="col-md-8 school-campus">
              <h1>View Menu and Order Online</h1>
              <p>Campus Bite features online menus that are updated as necessary so you can look over dining choices without visiting the restaurant. You can browse the menu and order your food online to streamline the entire process.</p>
            </div>
          </div>
          <div class="row separator">
            <div class="col-md-8 school-campus">
              <h1>Checkout, Eat and Enjoy</h1>
              <p>Your food will be delivered or ready for pick-up quickly and your order will be exact, allowing you to sit down and enjoy a nice meal without complications or stress.</p>
            </div>
            <div class="col-md-4 image-right">
              <img class="logo-image" alt="Smiley face" src="/assets/pizza.png" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 image-left">
              <img class="logo-image" alt="Smiley face" src="/assets/box.png" />
            </div>
            <div class="col-md-7 school-campus">
              <h1>Reward Points Program</h1>
              <p>For every order you place you will get points. These rewards can then be redeemed for prizes. To read more about the reward points program <a href="#">click here.</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>