<div class="row search-container">
  <%= render :partial => "restaurant_search_main" %>  
</div>  
<div class="row subscribe-container">
  <%= render :partial => "subscriber" %>
</div>
<div class="row slider-container">
  <%= render :partial => "home_page_slider" %>
</div>
  