<div class="row search-container result-page menupage">
  <div class="container">
    <%= render :partial => "menu_top" %>
      <div class="row menu-tab-container">
        <%= render :partial => "menu_order" %>
        <%= render :partial => "menu_cart" %>
      </div>
    </div>
  </div>
</div>