<div class="row search-container result-page menupage checkout-page SignUpBeforeCheckout location-container">
  <div class="container">
    <%= render :partial => "menu_top" %>
      <div class="row menu-tab-container">
          <div class="cart-response">
          	<%= render :partial => "menu_order" %>  
          </div>
        <%= render :partial => "menu_cart" %>
      </div>
    </div>
  </div>
</div>