<div class="row search-container result-page menupage checkout-page last-page aboutus-page career-page">
  <div class="container">
    <div class="col-md-12 main-fram-container">
      <div class="row">
        <div class="col-md-4  col-md-offset-4 about-logo">
          <%= link_to raw("<img class='logo-image' alt='Smiley face' src='/assets/about-logo.png'>"), '/' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 about-heading">
          <h1>Privacy Policy</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 about-heading">
          <div class="merchant">
            <h5>Last Updated: <span>April 19, 2014</span></h5>
            <h5>Scope</h5>
            <p>This privacy policy describes how we handle the personal information that you supply to us or concerning your use of our services available through Campus Bite. By accepting the Privacy Policy and the Terms Of Use in registration, you expressly consent to our collection, storage, use of your personal information as described in this Privacy Policy.<br> Collection of Personal Information<br>When ordering or registering on our site, as appropriate, we collect personal, demographic and ordering information provided by you. This information may include, among other things, names, addresses and other personally identifiable information, email addresses, mobile and other telephone numbers, and credit card information. You may, however, visit our site anonymously.</p>
            <h5>How Campus Bite Uses Your Personal Information</h5>
            <ul>
              <li>Any of the information we collect from you may be used in one of the following ways: </li>
              <li>1.  To personalize your experience<br>(your information helps us to better respond to your individual needs)</li>
              <li>2.  To improve customer service<br>(your information helps us to more effectively respond to your customer service requests and support needs)</li>
              <li>3.  To improve our website<br>(we continually strive to improve our website offerings based on the information and feedback we receive from you)</li>
              <li>4.  To send periodic emails<br></li>
              <li>5.  To process transactions<br>Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.</li>
            </ul>
            <p>If you decide to opt-in to our mailing list, you will receive emails that may include company news, updates, related product or service information, etc. If at any time you would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email that will link you to the form to unsubscribe from our mailing list. </p>
            <h5>Information Sharing</h5>
            <p>In order to process your order, we must share the following information every time you place an order with a Restaurant: your name, delivery address (if applicable), and food order. We also share your telephone number so the Restaurant may optionally verify that the order is not fraudulent. We restrict this information flow to only the bare minimum elements required to prepare and fulfill your orders. </p>
            <h5>Customer Communication</h5>
            <p>Campus Bite reserves the right to call or send registrants email communication from time to time regarding product and company updates, technical or administrative issues, legal notices, promotional offers or other important information about the website and products and services considered valuable or essential to your continued ability to use them properly. Campus Bite customer service representatives may use your telephone number and E-mail address to notify you of the status of your order as necessary and appropriate. Campus Bite reserves the right to use the information collected to send special offers on behalf of third party partners or vendors (including Restaurants) participating in our service. However, we do not share your information with the Restaurant other than the information necessary to conduct business as stated above.
              <br>
              Cookies
              <br>
            We use "cookies" (small text files stored in your internet browser) to enhance your ordering experience. Cookies allow Web site users to order faster and more efficiently by storing information such as your location, order information and personal preferences. We do not use cookies to track your surfing habits and activities outside of our Web site. Cookies can be easily and safely deleted from your computer. Refer to our browser's help section for instructions.Security Information
            Campus Bite implements a variety of security measures to maintain the safety of your personal information when you place an order or access your personal information.
            </p>
            <p>
              We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Payment gateway providers database only to be accessible by those authorized with special access rights to such systems, and are required to keep the information confidential.<br>Childrens Online Privacy Protection Act Compliance<br> Our website, products and services are all directed to people who are at least 13 years old or older.<br> Your Consent<br>By using this website, you signify your acceptance of this Privacy Policy, as amended from time to time in accordance with this paragraph. If you do not agree with the content of this Privacy Policy, please do not use this website.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>