 <div class="row search-container result-page menupage checkout-page last-page aboutus-page owner-page-1">
  <div class="container">
    <div class="col-md-12 main-fram-container">
      <div class="row">
        <div class="col-md-4">
          <img class="house-big-image" alt="Smiley face" src="/assets/house-big.png" />
        </div>
        <div class="col-md-4  about-logo">
          <img class="logo-image" alt="Smiley face" src="/assets/logo.png" />
        </div>
        <div class="col-md-4 heading-join">
          <button>Click here to join</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 about-heading">
          <div class="owner-note">
            <h3>Restaurant Owners</h3>
            <p>CampusBite is an amazing online food ordering company that was designed with the college student, in mind. The services that we are able to provide are invaluable to students during the busy semester. The service is free for all our restaurant partners to join and makes it easy for you to receive orders the students and everyone one on campus wants from local restaurants. Online food ordering will bring your restaurant thousands of new orders that you did not have before due to the fact of not being online and reaching college students through the internet. </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 social-main-block">
          <div class="social-block">
            <img class="increase-sale" alt="Smiley face" src="/assets/sale-1a.png" />
          </div>
          <div class="social-block">
            <img class="increase-sale" alt="Smiley face" src="/assets/sale-2.png" />
          </div>
          <div class="social-block">
            <img class="increase-sale" alt="Smiley face" src="/assets/sale-3.png" />
          </div>
          <div class="social-block">
            <img class="increase-sale" alt="Smiley face" src="/assets/sale-4.png" />
          </div>
          <div class="social-block">
            <img class="increase-sale" alt="Smiley face" src="/assets/sale-5.png" />
          </div>
          <div class="social-block">
            <img class="increase-sale" alt="Smiley face" src="/assets/sale-6.png" />
          </div>
          <div class="social-block-last">
            <img class="increase-sale" alt="Smiley face" src="/assets/sale-7.png" />
          </div>  
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 padding-right-zero">
          <div class="row owner-note increasing-value-block">
            <div class="col-md-6">
              <h1>Increase Sales</h1>
              <ul>
                <li>Your menu will be seen on our website, our mobile website and our iPhone and Android apps.</li>
                <li>Thousands of new college students from the local Colleges, and Universities</li>
                <li>Free to use for our partner restaurants. CampusBite only takes a small fee from each order your restaurant receives through our system. So, if you don't get any orders - there is NO fee.</li>
                <li>Free to use for students.</li>
                <li>No contract required.</li>
              </ul>
            </div>
            <div class="col-md-6">
              <img class="handing" alt="Smiley face" src="/assets/increase-sales.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 padding-right-zero">
          <div class="row technology-value-block">
            <div class="col-md-6">
              <img class="" alt="Smiley face" src="/assets/advanced-tec.png" />
            </div>
            <div class="col-md-6 ad-technology">
              <h1>Advanced Technology</h1>
              <ul>
                <li> Your own custom dashboard / admin panel to view sales and detailed reports.</li>
                <li> live interactive menu that features every item from your menu with topppings and etc.</li>
                <li>nformation page for your restaurant that will include an about us, cuisine type, delivery details, hours of operation, contact information, and a map of the restaurant. </li>
                <li>Testimonials and reviews to spread the word of how awesome your food is.</li>
                <li>Coupons and Specials for your customers.</li>
                <li>Fully interactive menu so that mistakes do not happen because of miscommunication.</li>
              </ul>
              <p class="clickhere"><a href="#">Click Here To Join</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 padding-right-zero">
          <div class="row technology-value-block work-value-block">
            <div class="col-md-6 work-technology-head">
              <h1>How It Works</h1>
              <ul>
                <li>Students view and order from the interactive online menu.</li>
                <li>Transactions are completed online.</li>
                <li>Each order is confirmed through our system.</li>
                <li>Detailed orders are sent to you by Email, Fax, or the custom CampusBite printer.</li>
              </ul>
             <p class="clickhere-left"><a href="#">Click Here To Join</a></p> 
            </div>
            <div class="col-md-6 work-technology">
              <img class="" alt="Smiley face" src="/assets/works.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 padding-right-zero">
          <div class="row technology-value-block camp-value-block">
            <div class="col-md-6 work-technology-head">
              <img class="camp-img" alt="Smiley face" src="/assets/camp-bite.png" />
            </div>
            <div class="col-md-6 camping-system">
              <h1>What CampusBite Gives You</h1>
              <ul>
                <li>System Setup<SPAN>Free</SPAN></li>
                <li>System Maintenance<SPAN>Free</SPAN></li>
                <li>Support<SPAN>Free</SPAN></li>
                <li>Custom Website<SPAN>Free</SPAN></li>
                <li>Marketing<SPAN>Free</SPAN></li>
              </ul>
               <p class="clickhere click-1"><a href="#">Click Here To Join</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 padding-right-zero">
          <div class="row technology-value-block work-value-block">
            <div class="col-md-6 work-technology-head">
              <h1>Marketing, Social Marketing and SEO</h1>
              <ul>
                <li>College Marketing (Professional Marketing in Colleges)</li>
                <li>Social Marketing (Facebook, Twitter, Youtube, and Instagram)</li>
                <li>SEO (Google, Yahoo, Bing, and more)</li>
                <li>Coupons and exclusive discounts for customers</li>
                <li>Rewards Points Program for all customers</li>
                <li>Email Marketing</li>
                <li>TV and Radio Advertisements</li>
                <li>Event Sponsorships</li>
              </ul>
               <p class="clickhere-left"><a href="#">Click Here To Join</a></p>
            </div>
            <div class="col-md-6 camping-system">
              <img class="camp-img" alt="Smiley face" src="/assets/seo.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 padding-right-zero">
          <div class="row technology-value-block camp-value-block border-clr">
            <div class="col-md-6 work-technology-head">
              <img class="camp-img" alt="Smiley face" src="/assets/calls.png" />                   
            </div>
            <div class="col-md-6 camping-system">
              <h1>Professional Support</h1>
              <ul>
                <li>Our professional staff will help you setup and have your restaurant up and running.</li>
                <li>We will setup your fax, email, or any other device that may need integration.</li>
                <li>Professional support for any issues that you may come to.</li>
              </ul>
               <p class="clickhere click-2"><a href="#">Click Here To Join</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 padding-right-zero">
          <div class="business-form-container">
            <div class="row business-form">
              <h1>Join CampusBite Today and Expand Your Business</h1>
              <h2>To join CampusBite.com please contact us at:  1-866-000-0000 or email us at Support@CampusBite.com or fill out the form below</h2>
              <div class="col-md-4">
                <label>First Name: *</label>
                <input type="text">
              </div>
              <div class="col-md-4">
                <label>Last Name: *</label>
                <input type="text">
              </div>
              <div class="col-md-4">
                <label>Email: *</label>
                <input type="text">
              </div>
            </div>
            <div class="row business-form">
              <div class="col-md-4">
                <label>Restaurant Name:</label>
                <input type="text">
              </div>
              <div class="col-md-4">
                <label>Phone: *</label>
                <input type="text">
              </div>
              <div class="col-md-4">
                <label>Zip Code:</label>
                <input type="text">
              </div>
            </div>
            <div class="row business-form">
              <div class="col-md-8">
                <label>Comments:</label>
                <input type="text">
              </div>
              <div class="col-md-4">
                <button class="sub-btn">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>