<div class="row search-container result-page">
  <div class="container">
    <%= render :partial => 'result_top' %>
    <div class="row result-heading">
      <div class="col-md-12 border-line">
        <h2>Restaurant results for biola university </h2>
      </div>
    </div>
    <%= render :partial => 'result_filter' %>
    <%= render :partial => 'result_data' %>  
  </div>
</div>