<div class="row search-container result-page">
  <div class="container">
    <%= render :partial => 'result_top' %>
    <div class="row school-campus-img">
      <div class="col-md-10 col-md-offset-1 padding-zero">
        <img class="logo-image" alt="Smiley face" src="/assets/liner-2.png" />
      </div>
    </div>
      <div class="row result-heading">
        <div class="col-md-12 border-line">
          <h2>Restaurant results for <%= @query %> </h2>
        </div>
      </div>
      <div class="row Restaurant-results">
        <div class="col-md-2 result-category">
          <%= render :partial => 'restaurant_category' %>
        </div>
        <div class="col-md-10 result-category-right  restaurants-result">  
          <%= render :partial => 'restaurant', collection: @restaurants %>
        </div>  
      </div>  
  </div>
</div>
