<div class="row search-container result-page">
  <div class="container">
    <%= render :partial => 'result_top' %>
    <% @schools.each do |school| %>
      <div class="row result-heading">
        <div class="col-md-12 border-line">
          <h2>Restaurant results for <%= school.school_name + " " + school.branch_name %> </h2>
        </div>
      </div>
      <%= render :partial => 'result_filter', :locals => {:school => school} %>
      <%= render :partial => 'result_data', :locals => {:school => school} %>  
    <% end %>  
  </div>
</div>