<div class="row search-container result-page menupage checkout-page last-page aboutus-page career-page">
  <div class="container">
    <div class="col-md-12 main-fram-container">
      <div class="row">
        <div class="col-md-4  col-md-offset-4 about-logo">
          <%= link_to raw("<img class='logo-image' alt='Smiley face' src='/assets/about-logo.png'>"), '/' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 about-heading">
          <h1>RERWARD POINTS RULES</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 about-heading">
          <div class="merchant">
            <h5>Last Updated: <span>April 19, 2014</span></h5>
            <p>Membership in the Campus Bite Rewards Points Program is available to all Campus Bite customers at no cost. A rewards account is opened for each Campus Bite customer, and this account will be credited with Rewards Points each time an eligible purchase is made. As Rewards Points accumulate they can be redeemed for specially selected merchandise. All of Campus Bite customers will be enrolled in the Rewards Points Program. Your actual enrollment, and the right to redeem Rewards Points, is conditioned upon your agreement to and compliance with these Terms and Conditions, the terms and conditions of Campus Bite’s main website, and all other applicable Campus Bite terms and conditions. If you redeem Reward Points you are agreeing to these Terms and Conditions in effect on the date of redemption.<br>These Terms and Conditions are subject to change at any time. Unless otherwise stated, the current terms and conditions in effect at the time of your redemption of any Rewards Points, a request for any benefit that may be available to Rewards Program members, and/or any other applicable transaction under the Rewards Program, will govern that transaction. Membership in Campus Bite’s Rewards Points Program is generally open to all of Campus Bite’s customers. Having a valid existing account or establishing a valid account with Campus Bite is the only requirement for membership. Campus Bite reserves the right to terminate and/or refuse membership in accordance with these Terms and Conditions and other applicable rules and regulations.Campus Bite Rewards Points
             </p>
             <p>You may be eligible to earn 5 points per every dollar you spend<br>You may redeem Campus Bite Points you earned for prizes. <br>Redeeming Rewards Points<br>Rewards Points may redeemed for specially chosen merchandise. Please go to the Rewards page to view the available merchandise and the Rewards Points redemption value required for each item. All merchandise offered as part of the Rewards Program is subject to availability and may be changed at any time and without notice.<br>To redeem your Rewards Points, simply go to the rewards points page and follow the instructions for redeeming rewards points. </p>
             <h5>QUALIFIED ORDER</h5>
             <p>An online order placed and paid for by you using the Site and not cancelled for any reason. </p>
             <h5>IMPORTANT INFORMATION</h5>
             <p>Campus Bite reserves the right, in its sole discretion, to change these Terms and Conditions and the Rewards Program rules, benefits, regulations, points, redeemable merchandise, and any applicable special offers, at any time and without notice. This means, for instance, that Campus Bite can change the manner in which Rewards Points are earned and/or redeemed. Such changes may include modifications that, among other things, (i) alter the Rewards Points credits or other benefits that can be earned on any given transaction on or after the date of change, (ii) alter the value of already accumulated Rewards Points or other benefits of the Rewards Program for redemption purposes or otherwise, and/or (iii) alter or eliminate the merchandise that Rewards Points can be redeemed against. Unless otherwise stated, the Terms and Conditions of the Rewards Program in effect at the time you redeem Rewards Points or otherwise request an available benefit or other transaction, will govern that transaction. Changes to these Terms and Conditions will be posted on this website. It is your responsibility and you are encouraged to check in regularly to see if there have been any updates. In the event Campus Bite does pick to provide notice of any particular change to the Rewards Points Program or these Terms and Conditions, it does not assume any responsibility or obligation to provide notice of any other or further changes to the Rewards Points Program or these Terms and Conditions, of any kind or nature, and/or or at any time. Campus Bite reserves the right to terminate the Rewards Program in its entirety on 2 months notice. In the event the Rewards Points Program is terminated, notice will be posted on Campus Bite’s website.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>