<div class="row search-container result-page menupage checkout-page last-page aboutus-page RewardsPoints">
  <div class="container">
    <div class="col-md-12 main-fram-container">
      <div class="row">
        <div class="col-md-4  col-md-offset-4 about-logo">
          <%= link_to raw("<img class='logo-image' alt='Smiley face' src='/assets/about-logo.png'>"), '/' %>
        </div>
        <div class="col-md-4 house-logo-1">
          <img class="logo-image" alt="Smiley face" src="/assets/reward.png" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 about-heading padding-zero">
          <h1>Rewards Points</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 padding-both-zero">
          <div class="reward-rule">
            <p>For every dollar you spend on CampusBite.com, you earn 5 rewards points. After you have collected enough rewards points you can then redeem the points for actual prizes below. Please take a moment to review the <a href="<%= reward_point_rules_path%>">Rewards Points Rules </a> page.</p>
            <p class="redeem">How To Redeem Your Rewards Points </p>
            <div class="row ">
              <div class="col-md-4 col-sm-4 screen1 screen2">
                <p class="pick">1. Pick A Prize</p>
                <img src="/assets/screen1.png">
                <div class="next-point">
                  <img src="/assets/arrow-next.png">
                </div>
              </div>
              <div class="col-md-4 col-sm-4 screen1 screen2">
                <p class="pick">2. Click Redeem</p>
                <img src="/assets/screen2.png">
                <div class="next-point">
                  <img src="/assets/arrow-next.png">
                </div>
              </div>
              <div class="col-md-4 col-sm-4 screen1 screen3">
                <p class="pick">3. Fill Out The Form And Wait For Your Prizee</p>
                <img src="/assets/screen3.png">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row reward-margin">
        <div class="col-md-4 ">
          <div class="ipad-block">
            <img src="/assets/ipad.png">
            <p class="redeem">iPad 16GB</p>
            <p class="get">Get this iPad with 5,000 Rewards Points</p>
            <div class="redeem-item">
              <div class="left">
                <label class="item">Item Id: ipad16gb</label>
                <label class="amount">5,000</label>
              </div>
              <div class="right"><button class="redeem-btn">REDEEM</button></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="ipad-block">
            <img class="phone" src="/assets/touch.png">
            <p class="redeem">iPad 16GB</p>
            <p class="get">Get this iPod Touch with 6,000 Rewards Points</p>
            <div class="redeem-item">
              <div class="left">
                <label class="item">Item Id: ipadtouch</label>
                <label class="amount">6,000</label>
              </div>
              <div class="right"><button class="redeem-btn">REDEEM</button></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="ipad-block">
            <img src="/assets/ipad.png">
            <p class="redeem">iPad 16GB</p>
            <p class="get">Get this iPad with 5,000 Rewards Points</p>
            <div class="redeem-item">
              <div class="left">
                <label class="item">Item Id: ipad16gb</label>
                <label class="amount">5,000</label>
              </div>
              <div class="right"><button class="redeem-btn">REDEEM</button></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row reward-margin">
        <div class="col-md-4 ">
          <div class="ipad-block">
            <img src="/assets/ipad.png">
            <p class="redeem">iPad 16GB</p>
            <p class="get">Get this iPad with 5,000 Rewards Points</p>
            <div class="redeem-item">
              <div class="left">
                <label class="item">Item Id: ipad16gb</label>
                <label class="amount">5,000</label>
              </div>
              <div class="right"><button class="redeem-btn">REDEEM</button></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="ipad-block">
            <img src="/assets/ipad.png">
            <p class="redeem">iPad 16GB</p>
            <p class="get">Get this iPad with 5,000 Rewards Points</p>
            <div class="redeem-item">
              <div class="left">
                <label class="item">Item Id: ipad16gb</label>
                <label class="amount">5,000</label>
              </div>
              <div class="right"><button class="redeem-btn">REDEEM</button></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="ipad-block">
            <img src="/assets/ipad.png">
            <p class="redeem">iPad 16GB</p>
            <p class="get">Get this iPad with 5,000 Rewards Points</p>
            <div class="redeem-item">
              <div class="left">
                <label class="item">Item Id: ipad16gb</label>
                <label class="amount">5,000</label>
              </div>
              <div class="right"><button class="redeem-btn">REDEEM</button></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row reward-margin">
        <div class="col-md-4 ">
          <div class="ipad-block">
            <img src="/assets/ipad.png">
            <p class="redeem">iPad 16GB</p>
            <p class="get">Get this iPad with 5,000 Rewards Points</p>
            <div class="redeem-item">
              <div class="left">
                <label class="item">Item Id: ipad16gb</label>
                <label class="amount">5,000</label>
              </div>
              <div class="right"><button class="redeem-btn">REDEEM</button></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="ipad-block">
            <img src="/assets/ipad.png">
            <p class="redeem">iPad 16GB</p>
            <p class="get">Get this iPad with 5,000 Rewards Points</p>
            <div class="redeem-item">
              <div class="left">
                <label class="item">Item Id: ipad16gb</label>
                <label class="amount">5,000</label>
              </div>
              <div class="right"><button class="redeem-btn">REDEEM</button></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="ipad-block">
            <img src="/assets/ipad.png">
            <p class="redeem">iPad 16GB</p>
            <p class="get">Get this iPad with 5,000 Rewards Points</p>
            <div class="redeem-item">
              <div class="left">
                <label class="item">Item Id: ipad16gb</label>
                <label class="amount">5,000</label>
              </div>
              <div class="right"><button class="redeem-btn">REDEEM</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>