<div class="row search-container result-page menupage checkout-page last-page aboutus-page career-page">
  <div class="container">
    <div class="col-md-12 main-fram-container">
      <div class="row">
        <div class="col-md-4  col-md-offset-4 about-logo">
           <%= link_to raw("<img class='logo-image' alt='Smiley face' src='/assets/about-logo.png'>"), '/' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 about-heading">
          <h1>TERMS OF SERVICE</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 about-heading">
          <div class="merchant">
            <h5>Last Updated: <span>April 19, 2014</span></h5>
            <p>Campus Bite LLC and its affiliates provide their services to you subject to the following notices, terms, and conditions. In addition, when you use any service of Campus Bite or its Internet Web site(s), you will be subject to the rules, guidelines, policies, terms, and conditions applicable to that service and you will be subject to all governing state and federal laws, including applicable patent, copyright, trademark and other intellectual property laws.</p>
            <h5>Copyright</h5>
            <p>This Web site, in its entirety, is the sole property of Campus Bite or its content suppliers and protected by U.S. and international copyright laws. The compilation (meaning the collection, arrangement, and assembly) of all content on this site is the exclusive property of Campus Bite and is protected by U.S. and international copyright laws. All software used on this site is the property of Campus Bite or its affiliates and is protected by U.S. and international copyright laws. The content and software on this Web site may be used as a personal shopping, and e-commerce resource. Any other use, including the reproduction, modification, distribution, transmission, republication, display, or performance of the content on this Web site is strictly prohibited. The application of this Web site, into any other Web site, is strictly prohibited unless pre-approved by Campus Bite.
            </p>
            <h5>Trademarks</h5>
            <p>Campus Bite and the Campus Bite Logo are registered trademarks of Campus Bite, in the United States and other countries. Campus Bite's trademarks may not be used in connection with any product or service that is not Campus Bite's, in any manner that is likely to cause confusion among customers or in any manner that disparages or discredits Campus Bite.</p>
            <h5>Modification of the Site or Terms of Service</h5>
            <p>We reserve the sole right to either modify or discontinue the Site, including any of the Site's features, at any time with or without notice to you. We expressly reserve the right to change these Terms of Service from time to time without notice to you. You acknowledge and agree that it is your responsibility to review this site and these Terms of Service from time to time and to familiarize yourself with any modifications. Your continued use of this site after such modifications will constitute acknowledgement of the modified Terms of Service and agreement to abide and be bound by the modified Terms of Service.</p>
            <h5>Use Of Site</h5>
            <p>By accessing this Web site you are agreeing to all of the terms, conditions, and statements included in this legal statement. The entirety of this site or any portion of this site may not be reproduced, duplicated, copied, sold, resold, or otherwise exploited for any commercial purpose that is not expressly permitted by Campus Bite. The Campus Bite site may not be linked to any other site without prior consent of Campus Bite. Campus Bite and its affiliates reserve the right to refuse service, terminate accounts, and/or cancel orders at its discretion, including, without limitation, if Campus Bite believes that customer conduct violates applicable law, disrupts our normal business activities or is harmful to the interests of Campus Bite and its affiliates.</p>
            <h5>Terms of Purchase</h5>
            <p>You agree to pay all fees and charges incurred in connection with your purchases (including any applicable taxes) at the rates in effect when the charges were incurred. We may require additional verification or information before accepting any order.</p>
            <h5>Methods Of Payment:</h5>
            <h5>Credit Card</h5>
            <p>By selecting credit card as a method of payment, you agree that you must be authorized to use the credit card present as a method of payment. Prior to the purchase of any goods or services on our Website, you must provide us with a valid credit card number and associated payment information including all of the following: (i) your name as it appears on the card, (ii) your credit card number, (iii) the credit card type, (iv) the date of expiration, and (v) any activation numbers or codes needed to charge your card. If Restaurant does not receive payment from your credit card issuer or its agent, you agree to pay all amounts due upon demand by Campus Bite or its agents. </p>
            <h5>Limitation of Liability</h5>
            <p>You agree to indemnify and hold Campus Bite, its subsidiaries, affiliates, officers, agents, and other partners and employees harmless from any loss, liability, damage, claim, or demand (direct, indirect, incidental, consequential, exemplary, or special), including reasonable attorneys' fees, made by any third party due to or arising out of your use of this Web site, including your use of this Web site to provide a link to another Web site or to upload content or other information to the Web site.</p>
            <h5>Children</h5>
            <p>You may not use the Campus Bite Website if you are under (13) years of age. By using this Website, you agree that you are at least (13) years of age or older.</p>
            <h5>Return Policy</h5>
            <p>If any food or delivery issues arise after you submit your order, please contact the Restaurant directly for the fastest service. All purchases are final unless an issue arises which is confirmed with an Campus Bite Restaurant, or otherwise determined by Campus Bite, at its sole discretion. If you require further assistance please contact us within 24 hours of the order date. No cash refunds will be issued by Campus Bite.</p>
            <h5>Corporate</h5>
            <p>For questions or comments regarding our policies, please contact us</p>
            <h5>Email</h5>
            <p>By registering or placing an order with us, you are consenting to receive e-mails from us regarding your registration or your order. Additionally, by registering or placing an order with us, you are consenting to receive commercial e-mail from us. If you do not wish to receive commercial email from us, you may remove your name from the e-mail list and edit your personal information from the Campus Bite computer system by updating your account information.</p>
            <h5>Disclaimer</h5>
            <p>THIS WEB SITE IS PROVIDED BY CAMPUS BITE AS "AS IS" BASIS. CAMPUS BITE MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THE SITE, OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED IN THIS SITE. TO THE FULL EXTENT PERMISSABLE BY APPLICABLE LAW, CAMPUS BITE DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. CAMPUS BITE WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, OR PRODUCTS ACQUIRED THROUGH THIS SITE, INCLUDING BUT NOT LIMITED TO, DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES. CAMPUS BITE RESERVES THE RIGHT TO LIMIT PURCHASE AND PURCHASE QUANTITY. IN THE EVENT OF ANY SITE ERROR, CUSTOMERS WILL BE LIMITED TO A SINGLE UNIT PURCHASE. PRICING ON THIS SITE MAY BE SUBJECT TO CHANGE WITHOUT EXPRESS WRITTEN NOTICE.</p>
            <p>Campus Bite disclaims any and all liability for the acts, omissions, conduct of any third-party users, Campus Bite users, advertisers, and/or sponsors on the Web site, in connection with the Web site, or otherwise related to your use of the Web site. Campus Bite is not responsible for the products, services, actions, or failure to act of any third party in the connection with the Web site. Without limiting the foregoing, you may contact us regarding the misconduct of users and/or third-party advertisers, service, and/or product providers referenced on, or included in the Web site, to Campus Bite. Campus Bite may investigate the claim and take appropriate action, at its sole discretion.Food Allergies</p>
            <p>It is your responsibility to note any specific food allergies when you place your order. Please instruct the Restaurant of food allergy concerns in the special instruction boxes or in the final special instructions box before sending your order. Although this information is transmitted to the Restaurant exactly as it appears on the Website, Campus Bite CANNOT GAURANTEE THAT YOUR ORDER WILL BE PREPARED AS REQUESTED. If you have food-related allergies and you are concerned about the preparation of the order, we suggest you contact the Restaurant directly after submitting your order.</p>
            <h5>Coupon</h5>
            <p>From time to time Campus Bite may offer promotions and special offers identified by a Coupon Code. Each Coupon Code will have different requirements and rewards. Typically, you will receive a Coupon or an email that contains the Coupon Code. If you receive a Coupon or email that contains a Coupon Code, please read it carefully all requirements stated in the Coupon or email must be met in order to receive or take advantage of the promotion or special offer. Unless otherwise stated all Coupon Codes are limited to one-time use. </p>
            <p>To take advantage of a promotion or special offer, enter the Coupon Code in the applicable field when placing an order. Not all products are eligible for promotions and special offers. If a Coupon Code does not function when entered, it means the product at issue does not qualify for the promotion or special offer; this determination is final.</p>
            <p>Coupon Codes only apply to products ordered through Campus Bite website; they may not be used in conjunction with the purchase of products sold by or under the brands of third parties (including, Campus Bite affiliates and/or websites linked to any existing Campus Bite website). </p>
            <p>Coupon Codes cannot be used to pay for taxes, delivery or other charges. If the promotion or special offer has a minimum purchase requirement, taxes, delivery and other charges do not apply towards the minimum purchase amount.</p>
            <p>Promotions and special offers are only valid for a limited time. They will expire on the date or within the timeframe specified in the offer. If no date or timeframe is specified, a promotion or special offer is valid until the end of the month is which the Coupon Code is first eligible for use.</p>
            <p>Coupon Codes (and the Coupons or emails that contain them) are not for resale, have no independent cash value, are not redeemable for cash, and will not be replaced if lost, stolen or deleted.</p>
            <p>Coupon Codes will not be retroactively applied against orders already placed with Campus Bite.</p>
            <p>If a Coupon Code is used and the entire order is cancelled or rejected, or if you return all items in the order then, subject to the terms of our Return Policy, you will be refunded only the actual amount paid. The coupon code will no longer be valid.</p>
            <p>If only part of your order is cancelled or rejected, or if you return only some of the items in your order, then subject to the terms of our Return Policy, the relevant discount or promotion will be applied to the item(s) that are kept. The foregoing notwithstanding, under no circumstances will a promotion or special offer of any kind be applied to create a credit balance. If the balance of a partially canceled, rejected or returned order is less than the value of the promotion or special offer, the promotion or special offer will be applied to the outstanding balance (not including delivery, taxes and other charges). The balance of the promotion or special offer is void, and the Coupon Code will no longer be valid.</p>
            <p>Campus Bite reserves the right to discontinue a promotion or special offer or coupon at any time and with immediate effect.</p>
            <h5>Applicable Law</h5>
            <p>Campus Bite is incorporated in the State of New Jersey, USA. As such, the laws of the State of New Jersey will govern these disclaimers, terms, and conditions, without giving effect to any principles of conflicts of laws. We reserve the right to make changes to our site and these disclaimers, terms, and conditions at any time.</p>
            <div class="height"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>