<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @term_of_service_page.content %>
</p>


<%= link_to 'Edit', edit_term_of_service_page_path(@term_of_service_page) %> |
<%= link_to 'Back', term_of_service_pages_path %>
