<div class="sub-addon-field">
	<%= text_field_tag "addon[addon_subcategories_attributes][#{length}][name]" %> 
	<%= link_to "Remove", "#", :class=> "remove-sub-addon-field" %> <br >
</div>

<script>
	$(document).ready(function(){
		$(".remove-sub-addon-field").click(function(){
	    $(this).parent().remove();
	  });
	});
</script>