<div class="row">
  <div class="container">		
		<h1>Editing restaurant</h1>

		<%= render 'form' %>

		<%= link_to 'Show', [@school, @restaurant] %> |
		<%= link_to 'Back', school_restaurants_path(@school) %>
	</div>
</div>		
