@media print{
	.receipt-table {
		float: left !important;
		width: 100% !important;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.receipt-table .credit-table{
		padding: 0px !important;
	}
	 .credit-table table{
		width: 100% !important;
		font-family: 'PT Sans' !important;
		font-size: 18px !important;
		font-weight: bold !important;
	}
}